{% extends '::base_metronic_struct.html.twig' %}

{% block rootmenuhome %}
    class="start active open"
{% endblock %}

{% block rootmenuhomeaux %}
    <span class="selected"></span>
{% endblock %}

{% block render %}
    <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Inicio <small>Portal de administración</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Inicio</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="clearfix">
    </div>
        
        
    <h2>Bienvenido al Portal de Administración</h2>
        
        
    </div>
{% endblock %}
