{% for category in categories %}
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1026"><a href="{{ path('site_product_category', {'slug' : category.slug}) }}">{{ category.title }}</a></li>
{% endfor %}