<a href="{{ siteOption.socialFacebookUrl }}" class="boxed-icon facebook icon-1x" TARGET="_NEW"><i class="fa fa-facebook"></i></a> 
<a href="{{ siteOption.socialTwitterUrl }}" class="boxed-icon twitter icon-1x" TARGET="_NEW"><i class="fa fa-twitter"></i></a> 
<!--
<a href="{{ siteOption.instagramUrl }}" class="boxed-icon  icon-1x"><i class="fa fa-instagram"></i></a>
<a href="{{ siteOption.linkedinUrl }}" class="boxed-icon linkedin icon-1x"><i class="fa fa-linkedin"></i></a>
-->