<a href="#" id="showcar">
    <span class="globalinfo">
        <span class="globalinfoprice">€ <span class="finalprice">{{ shoppingcart.ammount }}</span></span><br>
        Cantidad <span class="globalinfoquantity">{{ shoppingcart.count }}</span>
    </span>
    <img src="{{ asset('web/files/carrito.png') }}"  style="position: relative; top:19px;">
</a>