<p>
    Sr. Carlos Delgado.
    <br>
    Lamentamos informarle que ha habido un error con el pago de su pedido. Puede<br>
    ponerse en contacto con nosotros llamando al .... o escribiendo a .....
    
    <br><br>
    Pago con <b>tarjeta</b> denegado.
   
<br>
<p>
<h4><b>Pedido #390</b></h4>



            