<p>
    Tu pedido se ha recibido y se está procesando. Para tu información los
    detalles  <br> del pedido son los siguientes.
    
    
    <br><br>
    Pago con tarjeta aceptado
</p>
<br>
<p>
<h4><b>Pedido #390</b></h4>
<h4 style="margin-left: 52%;"><b>AL - 000390</b></h4>   
<div class="table-responsive col-sm-8">
    <table  class="table table-bordered" >
        <tr>
            <td style="color: grey;"><b>Producto</b></td>
            <td style="color: grey;"><b>Cantidad</b></td>
            <td style="color: grey;"><b>Precio</b></td>
        </tr>
           <tr>
            <td>Caja de Nacimiento</td>
            <td>1</td>
            <td>136,36 EUROS</td>
        </tr>
          <tr>
            <td style="color: grey;"><b>Subtotal:</b></td>
            <td></td>
            <td>136,36 EUROS</td>
        </tr>
           <tr>
               <td style="color: grey;"><b>Envío:</b></td>
            <td></td>
            <td>Envío gratuito</td>
        </tr>
           <tr>
            <td style="color: grey;">Impuesto:</td>
            <td></td>
            <td>13,64 EUROS</td>
        </tr>
           <tr>
               <td style="color: grey;"><b>Método de pago:</b></td>
            <td></td>
            <td>Contra reembolso</td>
        </tr>
           <tr>
               <td style="color: grey;"><b>Total:</b></td>
            <td></td>
            <td>150 EUROS</td>
        </tr>
    </table>
  
        <h4><b>Datos de cliente</b></h4> 
        <li style="color: grey;"><b>Correo electrónico: </b><span style="color: black;">a@a.com</span></li>
        <li style="color: grey;"><b>Teléfono: </b><span style="color: black;">627514444</span></li>
        
        <br>
         <table  class="table table-bordered">
             <tr>
                 <td>
                   <h4><b>Dirección de facturación</b></h4> 
                   Carlos delgado<br>
                   tindalo<br>
                   eras<br>
                   4<br>
                   29678 villa<br>
                   Madrid
                   
                 </td>
                 <td>
                      <h4><b>Dirección de envío</b></h4> 
                        Carlos delgado<br>
                   tindalo<br>
                   eras<br>
                   4<br>
                   29678 villa<br>
                   Madrid
                 </td>
             </tr>
         
         </table>
        
        

</div>
<br>


            