<p>
    Su pedido ha sido cancelado
    Cliente:<br>
    Tipo de pago: <br>
    Numero de pedido:<br>
    <!--
    Numero de albarán:<br>
    -->
    <!--
    Detalle del pedido:<br>
    -->
    Datos del cliente:<br>
    
    
    <!--
  Firma: (autoadministrable)
    -->
</p>