<div class="actions btn-set">
    <table>
        <tr>
            <th><a href="{{ path('snippet_edit', { 'id': entity_id }) }}" class="btn btn-sm yellow" data-toggle="modal">Editar <i class="fa fa-pencil"></i></a></th>
            <th hidden="hidden">
                {{ form(delete_form, {'attr': {'id': 'delete_form_' ~ entity_id }}) }}
            </th>
        </tr>
    </table>
</div>